{%extends '../index.html'%}
{% block title%}
news | Mather Bari Bohumukhi Sommaj kallan Sanstha(MBSS)
{% endblock %}

{% block slider%}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Mather Bari Bohumukhi Sommaj kallan Sanstha(MBSS)</p>
					<h1>News Article</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

{% endblock %}
{% block contant%}

<!-- latest news -->
<div class="latest-news mt-150 mb-150">
	<div class="container">
		<div class="row">
			{% if news%}
			{% for news in news %}
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="{% url 'singleNews' Id=news.id %} ">
						<div class="latest-news-bg news-bg-1" style="background: url({{news.s_image.url}})"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="{% url 'singleNews' Id=news.id %}"
								style="word-wrap: break-word;">{{news.news_title}}</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i>{{news.date_time|date:'Y-m-D P'}}</span>
						</p>
						<p style="word-wrap: break-word;">{{news.news_message|slice:":50"}}</p>
						<a href="{% url 'singleNews' Id=news.id %} " class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-1"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-2"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-3"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-4"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">Fall in love with the fresh orange</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-5"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">Why the berries always look delecious</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-6"
							style="background:url(assets/img/News_Picture/aboutSlider3.png)"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">Love for fruits are genuine of John Doe</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
						</p>
						<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
							laborum autem, dolores inventore, beatae nam.</p>
						<a href="single-news.html" class="read-more-btn">read more <i
								class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			{% endif%}
		</div>

		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="pagination-wrap">
							{% if news.has_previous %}
							<!--								<a href="?page=1">&laquo; first</a>-->
							<a href="?page={{ news.previous_page_number }}" class="btn btn-primary">Previous</a>
							{% endif %}

							<span class="current">
								Page {{ news.number }} of {{news.paginator.num_pages }}.
							</span>

							{% if news.has_next %}
							<a href="?page={{news.next_page_number }}" class="btn btn-success">Next</a>
							<!--								<a href="?page={{picture.paginator.num_pages }}">last &raquo;</a>-->
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end latest news -->


{% endblock %}
