{%extends '../index.html'%}

{% block title%}
Manage news | Mather Bari Bohumukhi Sommaj kallan Sanstha(MBSS)
{% endblock %}

{% block content%}

<!-- CONTENT -->
<!-- ========================================================= -->
<div class="content">
    <!-- content HEADER -->
    <!-- ========================================================= -->
    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="{% url 'manage_news' %}">Manage News</a></li>
                <li><a href="{% url 'add_news' %}">Add News</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!--COLUMNS HIDDEN RESPONSIVE-->
    <div class="col-sm-12">
        <h4 class="section-subtitle">Manage Picture</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> {{message}}</strong>
        </div>
        {% endfor %}

        {% endif %}
        <div class="panel">
            <div class="panel-content table-responsive text-nowrap">
                <table id="responsive-table"
                    class="data-table table table-striped table-hover responsive nowrap table-bordered " cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>News title</th>
                            <th>Small Image Name</th>
                            <th>Small Image</th>
                            <th>Large Image Name</th>
                            <th>Large Image</th>
                            <th>date_time</th>
                            <th>News Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if  news  %}
                        {% for news in news  %}
                        <tr>
                            <td>{{news.id}}</td>
                            <td>{{news.title}}</td>
                            <td>{{news.news_title}}</td>
                            <td>{{news.s_image}}</td>
                            <td><img width="80px" height="70px" src="{{news.s_image.url}}" alt="img"></td>
                            <td>{{news.l_image1}}</td>
                            <td><img width="80px" height="70px" src="{{news.l_image1.url}}" alt="img"></td>
                            <td>{{news.date_time|date:'Y-m-D I:i'}}</td>
                            <td>{{news.news_message}}</td>
                            <td>
                                <a href="{% url 'news_edit' Id=news.id %}" class="text-info mr-xs mr-md h3 btn-loading">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{% url 'news_delete' Id=news.id %}" class="text-danger h3">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>

<!-- Tabs Content -->



{% endblock %}
