{%extends '../index.html'%}

{% block title%}
Manage Donate Us | Mather Bari Bohumukhi Sommaj kallan Sanstha(MBSS)
{% endblock %}

{% block content%}

<!-- CONTENT -->
<!-- ========================================================= -->
<div class="content">
    <!-- content HEADER -->
    <!-- ========================================================= -->
    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="{% url 'manage_donate_us' %}">Manage Donate
                        Us</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!--COLUMNS HIDDEN RESPONSIVE-->
    <div class="col-sm-12">
        <h4 class="section-subtitle">Manage Information</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> {{message}}</strong>
        </div>
        {% endfor %}

        {% endif %}
        <div class="panel">
            <div class="panel-content table-responsive text-nowrap">
                <table id="responsive-table"
                    class="data-table table table-striped table-hover responsive nowrap table-bordered " cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Number</th>
                            <th>Bank slip no/Transaction id</th>
                            <th>Messages</th>
                            <th>DateTime</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if  donate  %}
                        {% for donate  in donate %}
                        <tr>
                            <td>{{donate.id}}</td>
                            <td>{{donate.full_name}}</td>
                            <td>{{donate.email}}</td>
                            <td>{{donate.number}}</td>
                            <td>{{donate.bank_sl_tran}}</td>
                            <td>{{donate.message}}</td>
                            <td>{{donate.date_time}}</td>
                            <td>
                                <a href="{% url 'donate_edit' Id=donate.id %} "
                                    class="text-info mr-xs mr-md h3 btn-loading">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{% url 'donate_delete' Id=donate.id %}" class="text-danger h3">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>

<!-- Tabs Content -->



{% endblock %}
